<section class="register container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2>Datos de registro</h2>

      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="mb-3">
          <label class="form-label">Nombre</label>
          <input class="form-control" formControlName="nombre" />
        </div>

        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password" />
        </div>

 
        <input type="hidden" formControlName="created_at" />

        <div class="mb-3">
          <label class="form-label">Rol</label>
          <select class="form-select" formControlName="rol">
            <option value="jugador">Jugador</option>
            <option value="entrenador">Entrenador</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" formControlName="email" />
        </div>

        <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
        <div *ngIf="success" class="alert alert-success">Registrado correctamente. Redirigiendo...</div>

        <button class="btn btn-primary" type="submit" [disabled]="loading">Registrarse</button>
      </form>
    </div>
  </div>
</section>
