:root {
  --bs-primary: #6209db;
  --primary: #6209db;
}


body {
  font-family: "Poppins", sans-serif;
}

img{
  width: 700px;
  justify-content: center;
}
.navbar {
    min-height: 90px;
}

.navbar .btn {
    padding: .625rem 1.25rem !important;
}

.btn {
    padding: 1rem;
}

.btn-primary {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}


.btn-login:hover {
    background-color: #cfe2ff; 
    color: #0d6efd;           
    border-color: #0d6efd;
  }